@import '../../toolkits/core-imports.scss';

.redux-page {
	padding: 30px 40px;
	border: solid 3px $color-primary;
	background-color: #fff;
}

.redux-page__title {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: $font-size-lrg;
	color: $gray-darker;
	padding-bottom: 40px;
	border-bottom: 1px solid #ccc;
}

.redux-page__desc {
	font-family: Arial, sans-serif;
	font-size: $font-size-med;
	padding-top: 20px;
}

.redux-page__content-image {
	width: 100%;
}
