@import '../../toolkits/core-imports.scss';

.react-router-page {
    padding: 30px 40px;
    border: solid 3px $color-primary;
    background-color: #fff;
}

.react-router-page__title,
.react-router-page__subtitle {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}


.react-router-page__title {
    font-size: $font-size-lrg;
    color: $gray-darker;
    padding-bottom: 40px;
    border-bottom: 1px solid #ccc;
}

.react-router-page__subtitle {
    font-size: $font-size-med;
    color: $gray-darker;
}

.react-router-page__desc {
    font-family: Arial, sans-serif;
    font-size: $font-size-med;
    padding-top: 20px;
}

