.react-router-page {
	max-width: 80%;
	margin: 40px auto 50px;
}


.react-router-page__card-block-cntr {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px;
}

.react-router-page__card-block-cntr > .card-block {
	min-width: 300px;
	max-width: 300px;
}
