.open-course-form__button-cntr {
	margin-top: 30px;
}

.open-course-form__input-cntr,
.open-course-form__course-name-cntr {
	margin-top: 20px;
}

.open-course-form__course-name-cntr__title,
.open-course-form__attendees-input {
	margin-left: 10px;
}

.open-course-form__button-cntr,
.open-course-form__action-btn {
	position: relative;
}
