@import '../../toolkits/core-imports.scss';

.open-courses-page {
    position: relative;
    margin: 40px auto 0;
    max-width: 85%;
}

.open-courses-page__title {
    margin-bottom: 20px;
    @include flex-grow(1);
}

.open-courses-page__container {
    @include display-flex;
    @include flex-wrap(wrap);
    @include justify-content(center);
}

/* Open Class Tile  */

.oc-container {
    
}

.oc-item-top-text {
    @include display-flex;
}

.oc-item-top-text__title,
.oc-item-display__occupied__text {
    margin-top: 0;
    margin-bottom: 0;
}

.oc-item-top-text__title {
    margin-right: 10px;
}


.oc-item-main {
    position: relative;
}

.oc-item-main__status,
.oc-item-main__status__background,
.oc-item-main__status__message {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.oc-item-main__status__message {
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
}

.oc-item-main__container {
    @include display-flex;
    padding-top: 10px;
    margin-bottom: 10px;
}

.oc-item-main__left {
    @include display-flex;
    @include align-items(center);
    @include flex-grow(1);
}

/* Data Points */

.oc-item-display__value__title,
.oc-item-display__value__text {
    margin: 0;
}

.oc-item-display__value__container {
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
}

.oc-data-edit {
    margin-left: 5px;
}

/* Open Course Data Visual Display */

.oc-item-main__right {
    position: relative;
}

/* Status bar with actions */

.oc-item-bottom {
    @include display-flex;
}

.oc-item-bottom__status,
.oc-item-bottom__upd-intrvl {
    @include flex-grow(1);
}

.oc-item-bottom__status {
    @include display-flex;
    @include align-items(center);
}

.oc-item-bottom__status__label,
.oc-item-bottom__status__value {
    margin: 0;
}

.oc-item-bottom__status__label {
    margin-right: 5px;
}

.oc-item-bottom__upd-intrvl {
    position: relative;
    @include display-flex;
    @include flex-grow(1);
    @include align-items(center);
    @include justify-content(flex-end);
}

.oc-item-bottom__upd-intrvl__text {
    line-height: $line-height-xsml;
}

.oc-item-bottom__upd-intrvl__inputs {
    @include display-flex;
    @include justify-content(center);
}